{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <br>
    <ul class="pagination">
      {% for i in range(pages) %}
      <li class="page-item"><a class="page-link" href="/?page={{ i+1 }}">{{ i+1 }}</a></li>
      {% endfor %}
    </ul>
    <div class="row">
        {% for c in products %}
        <div class="col-xs-12 col-md-3" style="padding: 5px">
            <div class="card">
                <img class="card-img-top" src={{c.image}} alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ c.name }}</h4>
                    <p class="card-text">{{ c.price }}</p>
                    <a href="#" onclick="addToCart({{c.id}}, '{{c.name}}', {{c.price}})" class="btn btn-primary">Đặt hàng</a>
                    <a href="#" class="btn btn-danger">Xem chi tiết</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}